@import url('https://googleapis.com');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease; 
    display: inline-block;
}

a:hover {
    transform: scale(1.2);
    text-shadow: 0 0 0.5px #000000; 
}

.button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.button:active {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transform: translateY(2px);
}

header {
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.85); 
    border: 1px solid rgba(145, 143, 143, 0.136);
}

.headerBlock {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    padding: 14px 18px;
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.headerButton {
    background-color: #000000;
    color: #ffffff;
    padding: 11.5px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.block1 {
    display: flex;
    justify-content: center;
}

.block1 img {
    width: 100%;
    height: 594px;
    object-fit: cover;
    object-position: 45% 100%;
}

.block2 {
    padding-top: clamp(25px, 3vw, 90px);
    padding-bottom: clamp(15px, 3vw, 90px);
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.leftBlock2 {
    padding: 10px 15px 0 15px;
    font-size: clamp(40px, 4vw, 52px);
    font-weight: 700;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
}

.rightBlock2 {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rightText {
    font-size: 16px;
    color: #000000;
    font-family: 'Poppins', sans-serif;  
}

.buttonGroup2 {
    display: flex;
    gap: 15px;
}

.buttonBlack {
    background-color: #000000;
    color: #ffffff;
    padding: 11.5px 24px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border: 1px solid #000000;
}

.buttonWhite {
    background-color: #ffffff;
    color: #000000;
    padding: 11.5px 24px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border: 1px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.block3 {
    padding-top: clamp(65px, 4vw, 108.5px);
    padding-bottom: clamp(15px, 4vw, 108.5px);
    gap: clamp(38px, 3vw, 92px);;
    background-color: #F9F8FE;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.leftBlock3 {
    padding: 0 15px 0 15px;
    max-width: 650px;
}

.upBlock3 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.rev {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.85px;
    font-weight: 400;
}

.life {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.1px;
    line-height: 1.5;
}

.bottomGroup3 {
    display: flex;
    gap: 40px;
    padding-top: 56px;
}

.column3 {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 270px;
}

.block3 h2 {
    font-size: clamp(40px, 4vw, 52px);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.9px;
    line-height: 1.3;
}

.block3 h3 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
}

.explore {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.9px;
    line-height: 1.6;
}

.getins {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.9px;
    line-height: 1.6;
}

.buttonGroup3 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-top: 45px;
}

.learn3 {
    padding: 11px 23.5px;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
}

.sign3 {
    padding-left: 11px;
}

.arrow3 {
    display: inline-block;
    padding-left: 7px;
    transform: translateY(6px);
}

.rightBlock3{
    padding: 0 15px 0 15px;
}

.rightBlock3 img {
    float: right;
    width: 600px;
    height: 600px;
    max-width: 100%;  
    max-height: 100%;  
    border-radius: 8px; 
    object-fit: cover;
}

.block4 {
    padding-top: clamp(65px, 4vw, 140px);
    padding-bottom: clamp(15px, 4vw, 140px);
    gap: clamp(60px, 4vw, 80px);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upblock4 {
    display: flex;
    flex-direction: column;
    gap: clamp(25px, 4vw, 58px);
    display: flex; 
    width: 100%;
    max-width: 1280px;
    padding: 0 15px 0 15px;
}

.discover {
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    letter-spacing: 0.8px;
}

.block4 h2 {
    font-size: clamp(40px, 4vw, 52px);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.25;
}

.text4{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;  
}

.cards4 {
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 35px;
    width: 100%;
    max-width: 1280px;
}

.card4 {
    display: flex;
    flex-direction: column;
    gap: clamp(3px, 4vw, 24.5px);
}

.pict4 img{
    border-radius: 8px;
    height: 222px;
    width: 100%;
    max-width: 394.67px;
    object-fit: cover;
    object-position: 45% 100%;
    font-family: 'Poppins', sans-serif;  
    font-size: 22px;
}

.block4 h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.text4-1 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;  
    line-height: 1.8;
}

.buttonGroup4 {
    padding: 0 10px 0 10px;
    justify-content: flex-start;
    width: 100%;
    max-width: 1280px;
}

.button4 {
    padding: 10px 24px;
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.text4-2 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}

.block5 {
    padding-top: clamp(65px, 4vw, 108.5px);
    padding-bottom: clamp(15px, 4vw, 108.5px);
    gap: clamp(38px, 3vw, 80px);;
    background-color: #F9F8FE;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    background-color: #F9F8FE;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.leftBlock5 {
    padding: 0 15px 0 15px;
    padding-top: clamp(1px, 4vw, 100px);
    max-width: 630px;
}

.upblock5 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.block5 h2 {
    font-size: clamp(37px, 4vw, 52px);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.55px;
    line-height: 1.25;
}

.buttonGroup5 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
}

.rightBlock5 {
    padding: 0 15px 0 15px;
}

.rightBlock5 img {
    width: 600px;
    height: 600px;
    max-width: 100%;  
    max-height: 100%;  
    border-radius: 8px; 
    object-fit: cover;
}

.block6 {
    padding-top: clamp(65px, 4vw, 100px);
    padding-bottom: clamp(15px, 4vw, 100px);
    gap: clamp(38px, 3vw, 86px);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.block6 h2 {
    padding: 0 10px 0 10px;
    max-width: 1000px;
    font-size: clamp(40px, 4vw, 52px);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.1px;
    line-height: 1.25;
    font-weight: 700;
}

.cards6 {
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 35px;
    width: 100%;
    max-width: 1280px;
}

.card6 {
    display: flex;
    flex-direction: column;
    gap: 15.5px;
}

.img6 {
    border-radius: 8px;
    height: 222px;
    width: 100%;
    max-width: 394.67px;
    object-fit: cover;
    font-family: 'Poppins', sans-serif;  
    font-size: 22px;
}

.block6 h3 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.text6-1 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;  
    line-height: 1.6;
    letter-spacing: 1.28px;
}

.transition6 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;  
    font-weight: 600;
}

.block7 {
    background-color: #F9F8FE;
    padding-top: clamp(65px, 4vw, 90px);
    padding-bottom: clamp(15px, 4vw, 90px);
    gap: clamp(38px, 3vw, 92px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.leftBlock7 {
    padding: 0 15px 0 15px;
    max-width: 630px;
}

.upBlock7 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bottomGroup7 {
    display: flex;
    gap: 30px;
    padding-top: 45px;
}

.block7 h2 {
    font-size: clamp(40px, 4vw, 52px);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
    line-height: 1.25;
}

.stats7-1 {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.text7-1 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;  
    line-height: 1.6;
    letter-spacing: 0.8px;
    max-width: 300px;
}

.rightBlock7 {
    padding: 0 15px 0 15px;
    padding-top: clamp(1px, 4vw, 25px);
}

.rightBlock7 img {
    width: 600px;
    height: 600px;
    max-width: 100%;  
    max-height: 100%;  
    border-radius: 8px; 
    object-fit: cover;
}

.block8 {
    padding-top: clamp(35px, 4vw, 112.5px);
    padding-bottom: clamp(15px, 4vw, 112.5px);
    gap: clamp(20px, 4vw, 52px);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upBlock8 {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 0 15px 0 15px;
}

.block8 h2 {
    font-size: clamp(40px, 4vw, 52px);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.25;
}

.text8 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.bottomBlock8 {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.form8 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.email8 {
    height: 42px;
    width: 373px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 16px;  
    text-align: left;
    color: #676767;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    display: inline-block;
}

.button8 {
    border: 1px solid black;
    background-color: #000000;
    color: #ffffff;
    padding: 12px 24.5px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.annotation8 {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.65px;
    color: #676767;
}

.block9 {
    padding-top: clamp(65px, 4vw, 95px);
    padding-bottom: clamp(15px, 4vw, 95px);
    background-color: #F9F8FE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftBlock9 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 15px 0 15px;
    padding-left: clamp(15px, 4vw, 80px);
}

.upBlock9{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.connect {
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    letter-spacing: 1.5px;
}


.block9 h2 {
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.75px;
    line-height: 1.25;
}

.text9-1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.9px;
    line-height: 1.65;
}

.column9 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.group9-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightBlock9 {
    padding: 0 15px 0 15px;
    padding-right: clamp(15px, 4vw, 80px);
    padding-top: clamp(1px, 4vw, 100px);
}

.rightBlock9 img {
    height: 442px;
    width: 601px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.block9 h3 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
}

.text9-2 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.95;
}

.getd9 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 1.95;
    font-weight: 600;
}

.block10 {
    background-color: #F9F8FE;
    display: flex;
    padding-top: clamp(65px, 4vw, 125px);
    padding-bottom: clamp(15px, 4vw, 125px);
    gap: clamp(38px, 3vw, 60px);
    flex-wrap: wrap;
    justify-content: center;
}

.block10 h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    flex-wrap: wrap;
}

.leftBlock10 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 15px 0 15px;
}

.text10-1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.65;
    display: inline-block;
}

.form10 {
    display: flex;
    gap: 16px;
    padding-top: 28px;
    flex-wrap: wrap;
}

.email10 {
    height: 42px;
    width: 100%;
    max-width: 466px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 16px;
    text-align: left;
    color: #676767;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    display: inline-block;
}

.button10 {
    border: 1px solid black;
    background-color: #000000;
    color: #ffffff;
    padding: 12.2px 24.5px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.annotation10 {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.75px;
    color: #676767;
    padding-top: 17px;
}

.rightBlock10 {
    display: flex;
    gap: 80px;
    padding-left: 75px;
    flex-wrap: wrap;
    padding: 0 15px 0 15px;
}

.column10-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.block10 h3 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.column10-2 {
    display: flex;
    flex-direction: column;
}

.link10 {
    padding-top: 12px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;  
    line-height: 1.6;
    letter-spacing: 0.3px;
}

.links10-2 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.link10-1 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;  
    line-height: 1.6;
    letter-spacing: 1px;
}

.column10-2 .links10-2 a {
    display: inline-flex;
    align-items: center;
    gap: 3px;
}